# Angular / Node.js / TypeScript
node_modules/
dist/
out-tsc/
tmp/
bazel-out/
*.tsbuildinfo
/src/environments/environment*.ts
.env

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
.history/

# Logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
libpeerconnection.log
testem.log
speed-measure-plugin.json
chrome-profiler-events.json
connect.lock

# Testing and coverage
coverage/

# Cache and dependencies
.sass-cache/
typings/

# OS generated
.DS_Store
Thumbs.db
